{% extends 'base.html' %}
{% block content %}

<style>
.form-control {
    background: rgba(255,255,255,0.08);
    border: none;
    color: white;
}

.form-control::placeholder {
    color: #cbd5e1;
}

.form-control:focus {
    background: rgba(255,255,255,0.12);
    color: white;
    box-shadow: none;
}
</style>

<h2 class="mb-4 fw-bold"> Create Account</h2>

<div class="row justify-content-center">
<div class="col-md-5">

<div class="card card-box p-4">
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}    

<form method="POST">
    {% csrf_token %}

    <input class="form-control mb-3" name="username" placeholder="Username">

    <input class="form-control mb-3" name="email" placeholder="Email">

    <input class="form-control mb-4" type="password" name="password" placeholder="Password">

    <button class="btn btn-success w-100">
         Register
    </button>

</form>

<p class="text-center mt-3">
    Already have account? 
    <a href="/login/" class="text-info">Login</a>
</p>

</div>

</div>
</div>

{% endblock %}